 body{
            font-family: arial;
            padding: 20px;
            background-color: antiquewhite;
            text-align: center;
        }

        h2{
            color: black
            
        }
        input{
            padding: 10px;
            width: 250px;
        }
        button{
            padding: 10px 15px;
            margin-left: 5px;
            background-color: whitesmoke;
            color: black;
            border: none;
            cursor: pointer;
        }

        ul{
            margin-top: 20px;
            padding-left: 0;
        }
        li{
            background-color: white;
            color: black;
            margin: 5px 0;
            padding: 10px;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        .delete{
            background-color: greenyellow;
            padding: 5px 10px;
            
        }